{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block main %}
   <h1>Circuit <b>{{circuit.description}}</b></h1>
   
{{ dump(likes) }}
   
   
<div>
{% if circuit.id in likes %}
	<a href="{{ path('likes', {id: circuit.id}) }}">Retirer</a>
{% else %}
	<a href="{{ path('likes', {id: circuit.id}) }}">Ajouter</a>
{% endif %}


<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>Date de départ</th>
            <th>Participants</th>
            <th>Prix</th>
        </tr>
    </thead>
    <tbody>
    {% for item in circuit.programmationCircuits %}
        <tr>
            <td>{{ item.dateDepart|date('Y-m-d') }}</td>
            <td>{{ item.nombrePersonnes }}</td>
            <td>{{ item.prix }}€</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h1>Etapes</h1>

<table class="table table-bordered table-sm">
  <thead>
    <tr>
        <th>Numéro</th>
        <th>Ville</th>
        <th>Durée (en jours)</th>
    </tr>
  </thead>
  <tbody>
  {%  for etape in circuit.etapes %}
  <tr>
    <td>{{ etape.numeroEtape }}</td>
    <td>{{ etape.villeEtape }}</td>
    <td>{{ etape.nombrejours }}</td>
  </tr>
  {% endfor %} {# etapes #}
  </tbody>
</table>



<a href="{{ path('frontoffice_home') }}">retour à l'accueil</a>
{% endblock %} {# main #}
