{% extends 'base.html.twig' %}

{% block title %}Circuit{% endblock %}

{% block main %}
    <h1>Liste des circuits</h1>
   
    
{% if is_granted('ROLE_ADMIN') %}
    
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>PaysDepart</th>
                <th>VilleDepart</th>
                <th>VilleArrivee</th>
                <th>DureeCircuit</th>
                <th>actions</th>
                <th>programmés?</th>
            </tr>
        </thead>
        {% for circuit in circuits %}
            <tr>
                <td>{{ circuit.description }}</td>
                <td>{{ circuit.paysDepart }}</td>
                <td>{{ circuit.villeDepart }}</td>
                <td>{{ circuit.villeArrivee }}</td>
                <td>{{ circuit.dureeCircuit }}</td>
				<td>
					<a href="{{ path('admin_circuit_show', {'id': circuit.id}) }}">show</a>
                    <a href="{{ path('admin_circuit_edit', {'id': circuit.id}) }}">edit</a>
				</td>
				<td>
				    {% if circuit.programmationCircuits.count == '1' %}
				    	oui
				    	<a href="{{ path('front_circuit_show', {id: circuit.id}) }}">détails</a>
				    	
				    {%  else %}
				    	non
				    {% endif %}
				</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no circuits found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <a href="{{ path('admin_circuit_new') }}">Create new</a>
    

{% else %}

<table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>PaysDepart</th>
                <th>VilleDepart</th>
                <th>VilleArrivee</th>
                <th>DureeCircuit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for circuit in circuitsp %}
            <tr>
                <td>{{ circuit.description }}</td>
                <td>{{ circuit.paysDepart }}</td>
                <td>{{ circuit.villeDepart }}</td>
                <td>{{ circuit.villeArrivee }}</td>
                <td>{{ circuit.dureeCircuit }}</td>
				<td>
					<a href="{{ path('front_circuit_show', {id: circuit.id}) }}">Détails</a>
				</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no circuits found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endif %}

{% endblock %} {# main #}
