<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}VoyagINT{% endblock %}</title>
        {% block stylesheets %}
	<link rel="stylesheet" href="/css/bootstrap-darkly.css">
	<link rel="stylesheet" href="/css/styles.css">
	{% endblock %}
    </head>
    <body>
        {% block body %}
    <header>
	    {% block menu %}
	    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary justify-content-center">
        	<b>{{ knp_menu_render('main', {'currentClass': 'active'}) }}</b>
        	<b>{{ knp_menu_render('login', {'currentClass': 'active'}) }}</b>
        	<b>{{ knp_menu_render('user', {'currentClass': 'active'}) }}</b>
        	<b>{{ knp_menu_render('etapes', {'currentClass': 'active'}) }}</b>
        	<b>{{ knp_menu_render('circuits', {'currentClass': 'active'}) }}</b>
		</nav>
	</header>
	    {% endblock %}
	
{%  block alerts %}
{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
        {%if type == 'message'%} {% set type = 'info' %} {%endif%}
        <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <p>{{ message|raw }}</p>
        </div>
    {% endfor %}
{% endfor %}
{% endblock %} {# alerts #}
	
    {% block main %}MAIN{% endblock %} {# main #}

	    {% endblock %} {# body #}

	{% block footer %}
	<footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright HDIJAxIDIR 2018</p>
      </div>
	</footer>
	{% endblock %} {# footer #}
</body>

	{% block javascripts %}
	<script src="/js/bootstrap.min.js"></script>
	{% endblock %} {# javascripts #}
	{% block custompage_script %}
    {% endblock %} {# custompage_scripts #}
</html>
